zuds==0.1.0.dev2210
absl-py==2.2.2
apispec==6.8.1
arrow==0.15.4
astropy==7.0.1
astropy-iers-data==0.2025.4.14.0.37.22
astroquery==0.4.10
astunparse==1.6.3
atomicwrites==1.4.1
attrs==25.3.0
avro-python3==1.10.2
backports-datetime-fromisoformat==2.0.3
backports-tarfile==1.2.0
beautifulsoup4==4.13.4
bokeh==0.12.9
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
cloudpickle==3.1.1
confluent-kafka==2.10.0
contourpy==1.3.2
cryptography==44.0.2
cycler==0.12.1
dask==2023.5.0
defusedxml==0.7.1
distributed==2023.5.0
exceptiongroup==1.2.2
factory-boy==2.11.1
faker==37.1.0
fastavro==1.10.0
filelock==3.18.0
fitsio==1.2.5
flatbuffers==25.2.10
fonttools==4.57.0
fsspec==2025.3.2
gast==0.6.0
geopandas==1.0.1
google-pasta==0.2.0
greenlet==3.2.0
grpcio==1.71.0
h11==0.14.0
h5py==3.13.0
html5lib==1.1.0
idna==3.10.0
importlib-metadata==8.6.1
importlib-resources==6.5.2
jaraco-classes==3.4.0
jaraco-context==6.0.1
jaraco-functools==4.1.0
jeepney==0.9.0
jinja2==3.1.6
joblib==1.4.2
keras==3.9.2
keyring==25.6.0
kiwisolver==1.4.8
libclang==18.1.1
locket==1.0.0
markdown==3.8.0
markdown-it-py==3.0.0
markupsafe==3.0.2
marshmallow==4.0.0
marshmallow-enum==1.5.1
marshmallow-sqlalchemy==1.4.2
matplotlib==3.10.1
mdurl==0.1.2
ml-dtypes==0.5.1
more-itertools==10.6.0
msgpack==1.1.0
namex==0.0.8
numpy==2.1.3
oauthlib==3.2.2
opt-einsum==3.4.0
optree==0.15.0
outcome==1.3.0.post0
packaging==25.0.0
pandas==2.2.3
partd==1.4.2
penquins==2.4.0
photutils==2.2.0
pillow==11.2.1
pluggy==1.5.0
protobuf==5.29.4
psutil==7.0.0
psycopg2==2.9.10
psycopg2-binary==2.9.10
py==1.11.0
pycparser==2.22.0
pyerfa==2.0.1.5
pygments==2.19.1
pyjwt==2.10.1
pyogrio==0.10.0
pyparsing==3.2.3
pyproj==3.7.1
pysocks==1.7.1
pytest==4.3.1
pytest-randomly==3.16.0
python-dateutil==2.9.0.post0
python3-openid==3.2.0
pytz==2025.2.0
pyvo==1.6.2
pyyaml==6.0.2
pyzmq==26.4.0
requests==2.32.3
requests-file==2.1.0
requests-oauthlib==2.0.0
rich==14.0.0
scipy==1.15.2
secretstorage==3.3.3
selenium==4.31.0
selenium-requests==2.0.4
setuptools==78.1.1
shapely==2.1.0
simplejson==3.20.1
six==1.17.0
sniffio==1.3.1
social-auth-app-tornado==1.0.0
social-auth-core==4.5.6
social-auth-storage-sqlalchemy==1.1.0
sortedcontainers==2.4.0
soupsieve==2.6.0
sqlalchemy==2.0.40
sqlalchemy-utils==0.41.2
supervisor==4.2.5
tblib==3.1.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==3.0.1
tldextract==3.6.0
toolz==1.0.0
tornado==6.0.3
tqdm==4.67.1
trio==0.29.0
trio-websocket==0.12.2
typing-extensions==4.13.2
tzdata==2025.2.0
urllib3==2.4.0
webencodings==0.5.1
websocket-client==1.8.0
werkzeug==3.1.3
wheel==0.46.1
wrapt==1.17.2
wsproto==1.2.0
zict==3.0.0
zipp==3.21.0
ztffields==0.6.1
ztfquery==1.28.0
